<div class="subscribe-news">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
                <h3>Subscribe to our newsletter</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    {# % include '/forms/subscribe.html.twig' % #}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your mail here">
                    <a href="#" class="btn-sub"><img src="images/i/subscribe.svg" alt=""></a>
                    {{ form_end(form) }}
                  </div>
            </div>
        </div>
    </div>
</div>
