/* Easy Admin Styling */

body { font-family: 'Alegreya Sans SC', Helvetica, sans-serif; font-size: 1.6em; }
h1, h2, h3, h4, h5 { font-family: 'Alegreya Sans SC', Helvetica, sans-serif; font-weight: 700; }
p, a, .main-header .logo { font-family: 'Alegreya Sans SC', Helvetica, sans-serif; }
.main-header > .navbar { background-color: #564fd9; }
.main-sidebar, .wrapper { background-color: #564fd9; }
.sidebar-menu > li > a, .sidebar-menu .treeview-menu > li > a { background: #564fd9; color: #eee; }
.sidebar-menu li.header { color: #bbb; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover { background-color: /*#205081*/ #564fd9; border-color: transparent; color: #FFFFFF; }
/* @media (min-width: 768px) body.list table thead th.sorted, body.list table thead th.sorted a { background: #564fd9; color: #FFFFFF; }
@media (min-width: 768px) body.list .table thead tr th.sorted { border-bottom: 2px outset #564fd9; } */
.sidebar-menu > li:hover > a, .sidebar-menu .treeview-menu > li:hover > a, .sidebar-menu > li.active > a, .sidebar-menu .treeview-menu > li.active > a, .sidebar-collapse .sidebar-menu > li.active.submenu-active > a, .sidebar-collapse .sidebar-menu > li:hover .treeview-menu > li.active > a 
{ color: #FFFFFF; background: #333; border-left-color: #bbb; }

/* Froala Editor Styling */

.fr-box .fr-counter { font-family: 'Alegreya Sans SC', Helvetica, sans-serif; }
.fr-box.fr-basic .fr-element { min-height: 400px /* 52 px by default */ ; }
