<!-- Breadcrumbs -->

<div class="container">
   <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <div class="news-header">
                <h2>News</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/">Taklimakan</a></li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">News</li>
                </ul>
                <p>We are collecting crypto news from reputable sources and are selecting those that are relevant to the investment community. <br/>Expect much more to come!</p>
            </div>
       </div>
   </div>
</div>
