<!-- Breadcrumbs -->

<div class="container">
   <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <div class="news-header">
                <h2>News</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/">Taklimakan</a></li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">News</li>
                </ul>
                <p>Be aware of all the new cryptocurrency and blockchain world. Our platform will help you to keep you up to date with all the events in the world</p>
            </div>
       </div>
   </div>
</div>
