<!doctype html>
<html lang="en">

    <head>

        {% include 'john-header.html.twig' %}

        <meta name="description" content="{% block description %}Taklimakan | Your Compass in the Cryptocurrency World{% endblock %}">
        <meta name="keywords" content="{% block keywords %}taklimakan, trading, cryptocurrency{% endblock %}">
        <title>{% block title %}Taklimakan{% endblock %}</title>

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block body %}{% endblock %}

        {% include 'john-footer.html.twig' %}

        {% block javascripts %}{% endblock %}

    </body>

</html>
