<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/john/css/bootstrap.min.css">
    <link rel="stylesheet" href="/john/css/font-awesome.min.css">
    <link rel="stylesheet" href="/john/css/style.css">
    <link rel="stylesheet" href="/john/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/john/css/owl.theme.default.min.css">

    <!-- AnyCharts CSS -->

    {# AnyChart Builder https://www.anychart.com/download/products/#custom-build #}

    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.2.0/css/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.2.0/fonts/css/anychart-font.min.css" />

    <!-- Froala CSS -->
    <link href="/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    {% block stylesheets %}{% endblock %}

    <meta name="description" content="">

    <title>{% block title %}Taklimakan{% endblock %}</title>

    {% include "icons.html.twig" %}

</head>

<body>
