
<div class="container" style="margin-top: 50px;">

<footer>
    <div class="row">
        <div class="col-xl-2">
            <div class="footer-logo">
                <img src="/john/images/logo-sm.svg" alt="">
            </div>
        </div>
        <div class="col-xl-2 offset-xl-1">
            <ul class="list-unstyled">
                <li><a href="https://taklimakan.io/#platform-block">Platform</a></li>
                <li><a href="https://taklimakan.io/#investment-block">ICO</a></li>
                <li><a href="https://taklimakan.io/#roadmap-block">Road map</a></li>
                <li><a href="https://taklimakan.io/#team-block">Team</a></li>
            </ul>
        </div>
        <div class="col-xl-2">
            <ul class="list-unstyled">
                <li><a href="https://bitcointalk.org/index.php?topic=2428580.0">Bounty</a></li>
                <li><a href="https://taklimakan.io/#media-block">Media</a></li>
                <li><a href="https://taklimakan.io/#questions-block">FAQ</a></li>
                <li><a href="https://taklimakan.io/taklimakan-whitepaper-eng.pdf">Docs</a></li>
            </ul>
        </div>
        <div class="col-xl-2">
            <ul class="list-unstyled">
                {# <li><a href="#">Languages</a></li> #}
                <li><a href="https://taklimakan.io/taklimakan-privacy-policy.pdf">Privacy Policy</a></li>
                <li><a href="https://taklimakan.io/taklimakan-token-sale-agreement.pdf">Token Sale Agreement</a></li>
            </ul>
        </div>
        <div class="col-xl-3 text-right">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/taklimakannetwork"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/taklimakan_net"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/company/taklimakan-network/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCm1TgNL5iGJLsQ3L59sdDnA"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</div>

{% if show_charts is defined %}

    <!-- AnyChart JS -->

    {# AnyChart Builder https://www.anychart.com/download/products/#custom-build #}

    <script src="https://cdn.anychart.com/releases/8.2.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.2.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.2.0/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.2.0/js/anychart-stock.min.js"></script>

    {# <script src="https://cdn.anychart.com/releases/8.2.0/js/anychart-bundle.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.2.0/themes/light_glamour.min.js"></script> #}
    <script src="https://cdn.anychart.com/releases/8.2.0/themes/light_glamour.min.js"></script>

{% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/john/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/john/js/popper.min.js"></script>
    <script src="/john/js/bootstrap.min.js"></script>
    <script src="/john/js/owl.carousel.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116479802-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116479802-1');
    </script>

    <!-- FIXME! We have to have conditional include here -->

    <script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },

        320:{
            items:2,
            nav:true
        },

        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
    })</script>

    <!-- Custom JS -->
    {% block javascripts %}{% endblock %}


    {# < % block javascripts % > #}


{% if show_charts is defined %}

    <script>

    let names = {{allowed|json_encode|raw}}

    let search = document.getElementById("searchCoin")

    let items = document.getElementsByClassName("dropdown-item")
    function buildDropDown(values) {

        let contents = []
        for (let name of values) {
        contents.push('<a href=?pair=' + name + '><input type="button" class="dropdown-item" type="button" value="' + name + '"/></a>')
        }

        $('#menuItems').append(contents.join(""))
        $('#empty').hide()

    }

    window.addEventListener('input', function () {
        filter(search.value.trim().toLowerCase())
    })

    function filter(word) {
        let length = items.length
        let collection = []
        let hidden = 0
        for (let i = 0; i < length; i++) {
        if (items[i].value.toLowerCase().startsWith(word)) {
            $(items[i]).show()
        }
        else {
            $(items[i]).hide()
            hidden++
        }
        }

        if (hidden === length) {
        $('#empty').show()
        }
        else {
        $('#empty').hide()
        }
    }

    $('#menuItems').on('click', '.dropdown-item', function(){
        $('#dropdown_coins').text($(this)[0].value)
        $("#dropdown_coins").dropdown('toggle');
    })

    buildDropDown(names)

    </script>

    {# < % endblock % > #}

{% endif %} <!-- AnyCharts -->

{% if show_welcome == true %}

<!-- Welcome Popup -->
<script>

    function setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (12 * 30 * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }

    if (getCookie('show-welcome') != 'false')
        $('#exampleModal').modal('show');

    function hidePopup() {
        setCookie('show-welcome', 'false');
        $('#exampleModal').modal('hide');
    }

</script>

{% endif %}


</body>
</html>
