    <!-- TOP MENU -->

<header class="bg">
    <div class="container">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
                      <a class="navbar-brand" href="http://taklimakan.network/"><img src="/john/images/logo.svg" alt="" class="logo"></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                          <li class="nav-item active"><a class="nav-link" href="/charts/all">Analytics</a></li>
                          <li class="nav-item"><a class="nav-link" href="/edu">Education</a></li>
                          <li class="nav-item"><a class="nav-link" href="/login"><img src="/john/images/i/userpic.svg" alt=""> Log In</a></li>
                          <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                        </ul>
                      </div>
                </nav>
            </div>
        </div>
<!--
        <div class="slider">
        <div class="row">
            <div class="col-xl-6">
                <div class="slider-title">
                    <h1>Taklimakan <small>Training material</small></h1>
                    <p>Top educational material, which is spinning in the slider</p>
                    <a href="#" class="btn btn-view">View Material</a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="slider-img text-right">
                    <img src="images/slider-01.png" alt="">
                </div>
            </div>
        </div>
        </div>
-->

    </div>
</header>


    <!-- TOP MENU END -->
