<!doctype html>
<html lang="en">

    <head>

        {% include 'john-header.html.twig' %}

        <title>{% block title %}Taklimakan{% endblock %}</title>
        
        <meta name="description" content="{% block description %}Taklimakan | Your Compass in the Cryptocurrency World{% endblock %}">
        <meta name="keywords" content="{% block keywords %}taklimakan, trading, cryptocurrency{% endblock %}">

        {% block meta %}{% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block body %}{% endblock %}

        {% include 'john-footer.html.twig' %}

        {% block javascripts %}{% endblock %}

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5af1da250114ff78"></script>

        <script id="dsq-count-scr" src="//taklimakan.disqus.com/count.js" async></script>

    </body>

</html>
