
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome to Taklimakan Network Demo version!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

              <h6>This is just a preview of things to come, we invite you to take a look at:</h6>
                   <ul class="list-unstyled">
                       <li>— Unique set of tools for analyzing crypto, as well as very first index of Top 100 Cryptocurrencies</li>
                       <li>— Integrated source of quality crypto news</li>
                       <li>— Hand-picked materials on all crypto-related topics</li>
                   </ul>

                    <h6>Coming soon:</h6>
                   <ul class="list-unstyled">
                       <li>— Registration for investors & professional traders</li>
                       <li>— Tools for crypto trading</li>
                       <li>— Social functions platform</li>
                       <li>— And much more!</li>
                   </ul>

            <p>We hope the platform will be helpful for you and always glad to get your feedback. Stay tuned!</p>

      </div>
      {# <div class="modal-footer" onclick="hidePopup();"> #}
      <div class="modal-footer">
        <button type="button" class="btn  btn-buy">Start</button>
      </div>
    </div>
  </div>
</div>
