<style nonce="{{ csp_nonce() }}">
    .addthis-buttons { clear: both; width: 100%; height: 60px; float: right; text-align: right; /*margin-top:*/ -40px; z-index: 100; }
/*    @media screen and (max-width: 500px) { .addthis-buttons { clear: both; width: 100%; height: 60px; float: right; text-align: right; margin-top: 0px; z-index: 100; } } */
</style>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
