
    <!-- Placeholder for next Courses Block -->

    <div class="row" id="more-courses"></div>

    <!-- More Button with AJAX -->

    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <p class="btn btn-success btn-block btn-load"><img src="images/i/refresh.svg" alt="" class="refresh"> Load more...</p>
        </div>
    </div>

    <script nonce="{{ csp_nonce() }}">

        var page = Number(getParam("page") ? getParam("page") : 0);
        var level = Number(getParam("level") ? getParam("level") : 0);
        var tag = getParam("tags");


        document.addEventListener('DOMContentLoaded', function() {
            $('.btn-load').on('click', loadMore);
        });

        // Get parameter from URL

        function getParam (k) {
            var p = {};
            location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
            return k ? p[k] : p;
        }

        function loadMore() {

            $.ajax({
                url: '/courses/more',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ 'page': Number(page + 1), 'tags': [], 'level': Number(level) }),
                processData: false,
                success:
                    function(data, textStatus, jQxhr) {
                        if (data.html) {
                            page++;
                            $('#more-courses').before(data.html);
                            scaleImages();
                            $('.liker').on('click', like); // Re-enable Like AJAX for new items
                            applyRatings();
                        }
                    },
                error:
                    function(jqXhr, textStatus, errorThrown) {
                        console.log('[ERR ] Cant get Data with AJAX!');
                    }
            });
        }

    </script>


    </div>
    </div>
