{% extends 'base.html.twig' %}

{% block body %}

 {# <body class="pos-relative"> #}

    <div class="ht-100v d-flex align-items-center justify-content-center">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-bold tx-inverse tx-roboto mg-b-0">404</h1>
        <h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5">The page your are looking for has not been found.</h5>

        <p class="tx-16 mg-b-30">
            The requested page couldn't be located.<br/>Maybe you could try a search or <a href="{{ path('home') }}">return to the homepage</a>.
        </p>

        <div class="d-flex justify-content-center">
          <div class="input-group wd-xs-300">
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-btn">
              <button class="btn btn-info"><i class="fa fa-search"></i></button>
            </div><!-- input-group-btn -->
          </div><!-- input-group -->
        </div><!-- d-flex -->
      </div>
    </div><!-- ht-100v -->

{% endblock %}
