{% extends 'base.html.twig' %}

{% block body %}

    <div class="ht-100v d-flex align-items-center justify-content-center">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-bold tx-inverse tx-roboto mg-b-0">ERR</h1>
        <h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5">Looks like we're having some server issues.</h5>

        <p class="tx-16 mg-b-30">
            Go back to the previous page and try again.<br/> If you think something is broken, report a problem.            
        </p>

      </div>
    </div><!-- ht-100v -->

{% endblock %}
